@import "tailwindcss";

@theme {
    --color-background: #0a0a0a;
    --color-surface: #171717;
    --color-accent: #00F0FF;
    --color-accent-glow: rgba(0, 240, 255, 0.5);
    --color-text-main: #F9FAFB;
    --color-text-muted: #9CA3AF;

    --font-sans: 'Inter', sans-serif;

    --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}